node_modules
.ipynb_checkpoints

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
datacenters-env/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Local raw geospatial data
data_center_database/

#Projected data centers
im3_projected_data_centers_v1.1/
