@import 'tailwindcss';

@theme {
    --font-montserrat: Montserrat, sans-serif;
}

 /* Montserrat for IM3 logo */
 @font-face {
	font-family: 'Montserrat';
	src: url('$lib/fonts/Montserrat-Black.ttf');
	font-style: normal;
	font-weight: 900;
 }